@use "../../../helpers/" as *;

.button {
  background-color: var(--shadow);
  padding: toRem(10) toRem(15);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  &:hover,
  &:active {
    background-color: var(--primary-color-dark);
  }
}

.icon {
  width: toRem(25);
  height: toRem(25);
  margin-right: toRem(5);
}

.badge {
  padding: toRem(5) toRem(10);
  border-radius: 25px;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -5px;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
