@use "../../../helpers/" as *;
.meals {
  max-width: toRem(750);
  width: 90%;
  margin-inline: auto;
  animation: meals-appear 1s ease-out forwards;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
