* {
  box-sizing: border-box;
}

:root {
  --text: #fff;
  --primary-color: rgb(70, 47, 140);
  --primary-color-dark: rgb(54, 36, 107);
  --primary-color-light: rgb(87, 57, 179);
  --secondary-color: rgb(30, 207, 119);
  --secondary-color-dark: rgb(23, 158, 91);
  --shadow: rgba(0, 0, 0, 0.25);
  --dark-grey: #383838;
  --light-grey: #ccc;
}

body {
  min-height: 100vh;
  color: var(--text);
  background-color: var(--dark-grey);
}

section {
  padding: 25px 0;
}

ul {
  list-style: none;
}

button {
  display: inline-block;
  color: inherit;
  cursor: pointer;
  border: none;
  font: inherit;
}

img {
  display: block;
}

h2 {
  font-size: calc(24rem / 16);
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}
