@use "../../../helpers/" as *;
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--secondary-color);
  padding: toRem(10) 0;

  & button {
    font-weight: bold;
    font-size: toRem(20);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    max-width: toRem(42);
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    margin: toRem(5);
  }

  & button:hover,
  & button:active {
    background-color: var(--secondary-color);
    color: white;
  }

  & p {
    margin-bottom: toRem(7);
    color: var(--light-grey);
    font-size: toRem(18);
  }
}

.summary {
  width: toRem(100);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: var(--secondary-color);
  font-size: toRem(18);
}

.amount {
  font-weight: bold;
  border: 1px solid var(--light-grey);
  padding: toRem(5) toRem(5);
  border-radius: 5px;
  color: var(--light-grey);
}

.actions {
  display: flex;
  flex-direction: column;

  @include minBp($sm) {
    flex-direction: row;
  }
}
